@import url("../../theme/variables.css");

.qr{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5%;
    text-align: center;
}

.qr svg{
    height: 50px
}


.qr canvas{
    width: 100vw;
}

.transparent{
    background-color: transparent!important;
    display: none;
}

.account{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    text-align: center;
}

.actions{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}